body {
/*    background-color: #ac71bf;*/
    min-height: 100vh;
    margin: 0px;
}

iframe {
    height: 90vh;
    min-width: 100vw;
    border: 0;
}

a {
    height: 0px;
    text-decoration: none;
    color: black;
}

.content-filler {
    background-image:linear-gradient(#34ebd5, #83eb34);
}

.bubble {
    position: relative;
    background-color: white;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    
    display: flex;
    flex-direction: column;
    /* Position along main axis (vertical) */
    justify-content: center;
    /* Position along cross axis (horizontal) */
    align-items: center;
}

.top {
    transform: translateY(-120%);
    
}

.bottom {
    transform: translateY(11.35%);
}

.bubble-title {
    text-align: center;
/*    background-color: lawngreen;*/
    width: 110px; 
    overflow-wrap: break-word;
}

.timeline-img {
    width: 140px;
    height: 120px;
    object-fit: cover; 
    object-position: 0px 0px;
    border-radius: 20px;
/*    background-color: aqua;*/
    margin: 8px 0px;
}

.stem {
    width: 5px;
    height: 50px;
    background-color: white;
    position: absolute;
    transform: translateY(250%);
}

.bottom > .stem {
    transform: translateY(-220%);
}

.date {
    position: absolute;
    transform: translateY(950%);
}

.bottom > .date {
    transform: translateY(-850%);
}

#timeline {
/*    background-color: aqua;*/
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
}

#bubbles {
    z-index: 1;
}

#line {
    width: 3400px;
    height: 10px;
    background-color: white;
    z-index: 0;
    transform: translateY(-50%)
}

#bubbles {
    position: absolute;
    top: 50vh;
    left: 50px;
/*    width: 300px;*/
    transform: translateY(-50%);
    display: flex;
    
}

#menuBar {
/* background-color: red;*/
/*    height: 10vh;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:15px;
}

#title {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    font-size: 30px;
    font-weight: bold;
    /* find a font online */
}

/*
<!-- HTML !-->
<button class="button-89" role="button">Button 89</button>
*/

/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    margin: 0px 10px;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}